{% extends'base.html.twig' %}

{% block body %}

{% for produit in produits %}
<br>
<div class="row">
    <div class="col-md-6"><img src="{{ produit.image }}" alt=""></div>
    <div class="col-md-6">
        <p>  Nom: {{produit.nom}}</p>
        <p> Marque: {{produit.marque}}</p>
         <p>Prix: {{produit.prix}}€</p>
    </div>
</div>
<a href="{{path('produit_show',{'id':produit.id})}}" class="btn btn-success ">Lire plus!</a>
<hr>
{% endfor %}

{% endblock %}